@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <a asp-page="Book/Index">Manage Books</a> |
    <a asp-page="Borrowing/Index">Manage Borrowings</a> | 
    <a asp-page="Readers/Index">Manage Readers</a> 
</div>
